header
 .header-position
   h1.logo Hanin Abderrahmane
   
   nav.site-nav
     ul
       li: a(href="#about")      About
       li: a(href="#youtube")    YouTube
       li: a(href="#mentoring")  Mentoring
       li: a(href="#Artcles")    Articles
       li: a(href="#vine")       Vine
       li: a(href="#design")     Design
       li: a(href="#notes")      Notes 
       li: a(href="#podcast")    Podcast
       li: a(href="#contact")    Contact 
    
    
    
   a(href="mailto:uxhanin@gmail.com").email-link + email me 
   
   .mobile-nav-toggle: span 
